
.select {
    background: #051B25;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #FF4900;
    color: #FF4900;
    outline: none;
    font-weight: 600;

    & option {
        background: #051B25;
        color: #FF4900;
    }
}