@import '@/styles/variables.scss';

.partnersCarousel {
    padding: 50px 0 150px;
    
    &__content {
        
        @media (max-width: 992px) {
            padding-bottom: 35px;
        }
        
    }

    &__title {
        font-size: 3rem !important;
        @media (max-width: 992px) {
            font-size: 1.5rem !important;
        }
        text-align: center;
    }
    &__desc {
        width: 100% !important;
        text-align: center;
    }
}